logger: {}
chartname: cloud-native-weather-nodejs
sharedValues:
  affinity: {}
  nodeSelector: {}
  podSecurityContext: {}
  resources: {}
  securityContext: {}
  tolerations: {}
globalConfig:
  metadata.labels:
  - strategy: newline
    key: cloud-native-weather-nodejs.labels
  metadata.name:
  - strategy: inline
    key: cloud-native-weather-nodejs.fullname
fileConfig:
  charts/cloud-native-weather-nodejs/-generated/database-configmap-b78hm8dc9b-cm.yaml: {}
  charts/cloud-native-weather-nodejs/-generated/database-secrets-7dtgft72ck-secret.yaml: {}
  charts/cloud-native-weather-nodejs/-generated/weather-service-deployment.yaml: {}
  charts/cloud-native-weather-nodejs/-generated/weather-service-svc.yaml: {}
